@using Electro.Models
@using PagedList.Mvc
@model PagedList.PagedList<Electro.Models.NhaCungCap>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@*Tao helper rieng*@
@helper TrunCate(string s, int length)
{
    if (s.Length < length)
    {
        @s
    }
    else
    {
        @s.Substring(0, length)<text>....</text>
    }
}

<div class="container-fluid">
    <h2 style="text-align:center">Danh sách nhà cung cấp</h2>

    <table class="table-hover">
        <tr style="background-color:darkgray">
            <th style="text-align:center; width:12%">
                Mã Nhà Cung Cấp
            </th>
            <th style="text-align:center; width:10%">
                Tên nhà Cung Cấp
            </th>
            <th style="text-align:center; width:20%">
                Địa Chỉ
            </th>
            <th style="text-align:center; width:20%">
                Email
            </th>

            <th style="text-align:center; width: 17%">
                Điện thoại
            </th>
            <th style="text-align:center; width: 21%">

            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td style="text-align:center; font-weight:bold">
                    @item.MaNCC
                </td>
                <td style="text-align:center;">
                    @item.TenNCC
                </td>

                <td style="text-align:center;">
                    @item.DiaChi
                </td>
                <td style="text-align:center;">
                    @item.Email
                </td>
                <td style="text-align:center;">
                    @item.DienThoai
                </td>

                <td style="padding-left:100px">
                    <a href="@Url.Action("Sua" , new { MaNCC = item.MaNCC , url = Request.Url.ToString()})" class="btn btn-warning" role="button">Sửa</a>
                    <a href="@Url.Action("ChiTiet", new { MaNCC = item.MaNCC  , url = Request.Url.ToString()})" class="btn btn-primary" role="button">Chi tiết</a>

                </td>
            </tr>
        }
    </table>

    <div class="MenuTrang">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))

    </div>
    <div style="margin-left:90%">
        <a href="@Url.Action("Them")" class="btn btn-info" role="button" style="font-weight:bold; color:red;">Thêm mới</a>
    </div>
</div>
<style>
    .MenuTrang {
        display: inline;
        display: inline;
        text-align: center;
    }
</style>