@using Electro.Models
@using PagedList.Mvc
@model PagedList.PagedList<Electro.Models.NhaSanXuat>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


@*Tao helper rieng*@
@helper TrunCate(string s, int length)
{
    if (s.Length < length)
    {
        @s
    }
    else
    {
        @s.Substring(0, length)<text>....</text>
    }
}

<div class="container-fluid">
    <h2 style="text-align:center">Danh sách nhà sản xuất</h2>

    <table class="table-hover">
        <tr style="background-color:darkgray">
            <th style="text-align:center; width:8%">
                Mã NSX
            </th>
            <th style="text-align:center; width:20%">
                Thương hiệu
            </th>
            <th style="text-align:center; width:50%">
                Thông tin
            </th>

            <th style="text-align:center; width: 17%"></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td style="text-align:center; font-weight:bold">
                    @item.MaNSX
                </td>
                <td style="text-align:center;">
                    @item.TenNSX
                </td>

                <td style="text-align:center;">
                    @item.ThongTin
                </td>
                <td>
                    <a href="@Url.Action("Sua" , new { MaNSX = item.MaNSX , url = Request.Url.ToString()})" class="btn btn-warning" role="button">Sửa</a>
                    <a href="@Url.Action("DanhSachSanPhamTheoNSX", new { MaNSX = item.MaNSX  , url = Request.Url.ToString()})" class="btn btn-primary" role="button">Danh sách sản phẩm</a>
                </td>
            </tr>
        }

    </table>
    <div class="MenuTrang">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
    </div>
    <div style="margin-left:90%">
        <a href="@Url.Action("Them")" class="btn btn-info" role="button" style="font-weight:bold; color:red;">Thêm mới</a>
    </div>
</div>
<style>
    .MenuTrang {
        display: inline;
        display: inline;
        text-align: center;
    }
</style>

